<table class="center">
	<tr>
		{{#if hdr1}}
			<th> {{hdr1}} </th>
		{{/if}}
		{{#if hdr2}}
			<th> {{hdr2}} </th>
		{{/if}}
		{{#if hdr3}}
			<th> {{hdr3}} </th>
		{{/if}}
		{{#if hdr4}}
			<th> {{hdr4}} </th>
		{{/if}}
		{{#if hdr5}}
			<th> {{hdr5}} </th>
		{{/if}}
		{{#if hdr6}}
			<th> {{hdr6}} </th>
		{{/if}}
		{{#if hdr7}}
			<th> {{hdr7}} </th>
		{{/if}}
		{{#if hdr8}}
			<th> {{hdr8}} </th>
		{{/if}}
		{{#if hdr9}}
			<th> {{hdr9}} </th>
		{{/if}}
		{{#if hdrTen}}
			<th> {{hdrTen}} </th>
		{{/if}}
	</tr>
	
	{{#each item}}
		<tr>
		{{#if item1}}
			<td> {{item1}} </td>
		{{/if}}
		{{#if item2}}
			<td> {{item2}} </td>
		{{/if}}
		{{#if item3}}
			<td> {{item3}} </td>
		{{/if}}
		{{#if item4}}
			<td> {{item4}} </td>
		{{/if}}
		{{#if item5}}
			<td> {{item5}} </td>
		{{/if}}
		{{#if item6}}
			<td> {{item6}} </td>
		{{/if}}
		{{#if item7}}
			<td> {{item7}} </td>
		{{/if}}
		{{#if item8}}
			<td> {{item8}} </td>
		{{/if}}
		{{#if item9}}
			<td> {{item9}} </td>
		{{/if}}
		{{#if item10}}
			<td> {{item10}} </td>
		{{/if}}
		</tr>
	{{/each}}
	